<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Swuber</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" id="main-container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right"> 
            <div style="font-size:12px; position: absolute; top: 20px; right: 0px;">
	      <%= link "Your Location", to: map_path(@conn, :index) %>
	      <br><br>
              <%= link "Register", to: user_path(@conn, :new) %> 
	      <br><br>
              <%= link "Chat with others", to: chat_path(@conn, :index) %> 
            </div>	    
	  </ul>
        </nav>
	<img src = "/images/logo.png" style = "width: 90%;">
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
